* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #252525;
}

header {
  text-align: end;
  padding: 32px;
}

.btn {
  padding: 8px 24px;
  background-color: #998675;
  border-radius: 8px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  outline: none;
}

.btn:hover, .buy-btn:hover {
  background-color: #ffffff;
  color: #998675;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  max-width: 216px;
  padding: 32px;
  color: #ffffff;
  -webkit-box-flex: 1;
  margin: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 32px;
          box-shadow: 0 0 32px;
}
