* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #252525;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.logo{
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  color: #ffffff;
}
.header-block{
  display: flex;
  align-items: center;
}
.btn-cart{
  position: relative;
  margin-left: 16px;
}
.btn-close-cart{
  border: none;
  background-color: #998675;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 4px;
  transition: 1.5s;
 }
 .btn-close-cart:hover {
  background-color: red;
 }
.cart{
  padding: 32px;
  background-color: #F0F0F0;
  position: absolute;
  top: 64px;
  right: 4px;
  box-shadow: -20px 19px 14px 0px;
  border-radius: 4px;
}
.search-field {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: #252525;
  color: #fff;
  outline: none;
  }
  .btn-search{
    background-color: #998675;
    border-radius: 4px;
    border: none;
    padding: 8px;
  }

.btn {
  padding: 8px 24px;
  background-color: #998675;
  border-radius: 8px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  outline: none;
  border: none;
}

.btn:hover, .buy-btn:hover {
  background-color: #ffffff;
  color: #998675;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  max-width: 216px;
  padding: 32px;
  color: #ffffff;
  -webkit-box-flex: 1;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 0 32px;
}